.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search{
    background-color: #333333;
}

.search_bar{
    color: #262637;
    margin: 0;
    padding: 0px;
    position: relative;
    border: 0px solid rgba(0,0,0,.125);

}
.logoContainer{
    float:left;
    padding-right: 10px;
}
.logo {
    width:200px; /* you can use % */
    height: auto;
}
