.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search{
    background-color: #333333;
    padding:10px;
    height:100%;
}

.search_bar{
    color: #262637;
    margin: 0;
    padding: 0px;
    position: relative;
    border: 0px solid rgba(0,0,0,.125);

}

.logo {
    width:200px; /* you can use % */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;
}
