.ExtTitle{
    color:#40312A;
    font-size: 2em;
    font-weight: 300;
}

.Extinfo{
    color:#757575;
    font-size: 1em;
    font-weight: 300;
}


.ExtDate{
    color:#757575;
    font-size: 1em;
    font-weight: 300;
    }

pre{
    color: #333333;
    background:#EFF0F1;
    padding:10px;
    border-radius: 10px;
    overflow-x:scroll;
    width: 100%;
}

.AnswerNum{
    font-size: 1.5em;
    font-weight: bold;
}

img{
    width:100%;
    max-width:600px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .text-right{
        text-align: left!important;
    }
}


