
.results {
  text-align: left;
}

.badge{
  margin:2px;
}

.card {
  color: #262637;
  margin: 0;
  padding: 15px;
  position: relative;
  border: 1px solid rgba(0,0,0,.125);
}

.card-body{
  color: #40312a;
  margin:0;
  padding:0;
  position: relative;
}

.dashboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
  text-align: center;
}

.dashboard p{
  text-align: center;
}

